h1 {
  font-family: "brush script MT";
  color: #0c3823;
  font-size: 500%;
  margin-left: 50px;

}

p {
  font-family: "palatino linotype";
  color: white;
  text-indent: 30px;
  margin-left: 30px;
  font-size: 200%
}

#content {
  background-color: #2e856e;
  width: 925px;
  min-height: 900px;
  margin: 20px;
  border: dashed 15px #25523B;
  font-size: 12px;

}

h2 {font-family: "palatino linotype";
color: #0c3823;
text-indent: 30px;
margin-left: 30px;
font-size: 300%;
}

li {font-family: "palatino linotype";
color: white;
text-indent: 30px;
margin-left: 30px;
font-size: 200%;
}
